@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.php_variable {
  color: #8500cc;
  font-weight: 700;
}

.php_operator {
  color: #db0087;
  font-weight: 700;
}

.php_string {
  color: #d6d309;
  font-weight: 700;
}

.php_integer {
  color: #6cbf06;
  font-weight: 700;
}

.php_punctuation {
  color: #db8204;
  font-weight: 700;
}

.php_construct {
  color: #db0087;
  font-weight: 700;
}

.php_comment {
  color: #8c8c8c;
  font-weight: 700;
}

.tab_one {
  margin: 0 0 0 1em;
}

code {
  display: block;
  background: #303030;
  padding: 3em 2.5em;
  margin: 1em 0 0.5em 0;
}
code p {
  margin: 0 0 0.5em 0;
}

.header {
  position: relative;
  height: 100vh;
  background: url(../img/php-background.jpg) no-repeat;
  background-size: cover;
}
.header .header__transparent-block {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 0;
}
.header .header__top-block {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 2em 0 0 0;
  z-index: 2;
}
.header .header__wrapper {
  height: 100%;
  max-width: 1140px;
  margin: 0 auto;
}
.header .header__logo img {
  max-width: 90px;
}
.header nav {
  margin-left: auto;
}
.header nav ul {
  display: flex;
  list-style: none;
}
.header nav ul li {
  margin: 0 0.9em 0 0;
}
.header nav ul li a {
  color: #919ea3;
  font-size: 0.9em;
  text-decoration: none;
}
.header nav ul li a:hover {
  text-decoration: underline;
}
.header nav ul li:last-child {
  margin: 0;
}
.header .header__content {
  position: relative;
  height: 100%;
  max-width: 900px;
  margin: -83.688px auto 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 1;
}
.header .header__content h1 {
  margin: 0 0 0.5em 0;
  font-size: 3.5em;
  font-weight: 700;
  color: #ccd9de;
}
.header .header__content p {
  font-size: 0.9em;
  font-weight: 300;
  line-height: 1.5em;
  color: #b3bfc4;
}

.about_me__wrapper {
  max-width: 1040px;
  margin: 5em auto 0 auto;
}
.about_me__wrapper h2 {
  font-size: 2.2em;
  color: #091724;
  margin: 0 0 1em 0;
}
.about_me__wrapper .data {
  display: flex;
  justify-content: space-between;
}
.about_me__wrapper .data > div {
  width: 47%;
}
.about_me__wrapper img {
  width: 100%;
}
.about_me__wrapper ul {
  margin: 2em 0 0 0;
}
.about_me__wrapper ul li {
  list-style: none;
  margin: 0 0 0.7em 0;
  padding: 0 0 0.7em 0;
  border-bottom: 1px solid #e6ebf0;
}
.about_me__wrapper ul li:last-child {
  border: none;
}

.knowledge {
  max-width: 1040px;
  margin: 5em auto 0 auto;
}
.knowledge h2 {
  font-size: 2.2em;
  color: #091724;
  margin: 0 0 1em 0;
}
.knowledge .knowledge__code-block {
  margin: 0 0 2em 0;
}

.article {
  max-width: 1040px;
  margin: 5em auto 0 auto;
}
.article h2 {
  font-size: 2.2em;
  color: #091724;
  margin: 0 0 1em 0;
}

.footer {
  margin: 4em 0 0 0;
  background: #212121;
  padding: 5em 0;
}
.footer .footer-wrapper {
  max-width: 1040px;
  margin: 0 auto;
}
.footer p {
  margin: 0 0 0.7em 0;
  color: #b3b3b3;
}
.footer p:last-child {
  margin: 0;
  font-size: 1.5em;
  font-weight: 700;
}